@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');

// colors
$Bright-orange: hsl(31, 77%, 52%);
$Dark-cyan: hsl(184, 100%, 22%);
$Very-dark-cyan: hsl(179, 100%, 13%);

$Transparent-white: hsla(0, 0%, 100%, 0.75);
$Very-light-gray: hsl(0, 0%, 95%);


// sizes
$desktop: 1440px;
$mobile: 375px;

html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: $Very-light-gray;
  font-family: "Lexend Deca", sans-serif;
  font-size: 15px;
}

p {
  color: $Transparent-white;
  letter-spacing: 0.7px;
  line-height: 1.7em;
  font-size: small;
}

@media screen and (max-width: $mobile) {
  p {
    font-size: 15px;
  }
}

h1 {
  color: $Very-light-gray;
  font-family: "Big Shoulders Display", sans-serif;
  margin-bottom: 10px;
  font-size: 2.4em;
}

main {
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;

  section:nth-child(1) {
    background-color: $Bright-orange;
    border-radius: 8px 0 0 8px;
    button {
      color: $Bright-orange;
    }
  }
  section:nth-child(2) {
    background-color: $Dark-cyan;
    button {
      color: $Dark-cyan;
    }
  }
  section:nth-child(3) {
    background-color: $Very-dark-cyan;
    border-radius: 0 8px 8px 0;
    button {
      color: $Very-dark-cyan;
    }
  }

  section {
    height: 470px;
    display: flex;
    flex-direction: column;
    padding: 39px;
    box-sizing: border-box;
    max-width: 280px;
    .section-icon {
      width: 60px;
    }
    .btn-container {
      flex: 1;
      display: flex;
      align-items: flex-end;
    }
    
    button {
      background-color: $Very-light-gray;
      font-family: "Lexend Deca", sans-serif;
      font-size: 1em;
      border-radius: 25px;
      border: none;
      width: fit-content;
      padding: 14px 33px;
      cursor: pointer;

      &:hover {
        background-color: transparent;
        color: $Very-light-gray;
        border: 2px solid $Very-light-gray;
      }
    }
  }

  @media screen and (max-width: $mobile){
    flex-direction: column;
    width: calc(100% - 40px);
    padding: 80px 0;
    height: auto;
    section {
      height: 440px;
      padding: 44px;
      max-width: none;

      &:last-of-type {
        border-radius: 0 0 8px 8px;
      }

      button {
        font-size: 1.1em;
        padding: 15px 35px;
      }

      .section-icon {
        width: 70px;
      }
    }
    section:nth-child(1) {
      border-radius: 8px 8px 0 0;
    }
    section:nth-child(3) {
      border-radius: 0 0 8px 8px;
    }
  }
}